<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
    "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ZhglMapper">
    <select id="zhlistPage" parameterType="page" resultType="pd">
        SELECT
            *
        FROM yh_yh
        ORDER BY
            zhzt,
            create_time desc
    </select>

    <!-- 更新账号状态 -->
    <update id="updateZhzt" parameterType="pd">
        UPDATE
            yh_yh
        SET zhzt = #{zhzt}
        WHERE yhid = #{yhid}
    </update>

    <!-- 修改密码 -->
    <update id="updateZhmm" parameterType="pd">
        UPDATE yh_yh
        SET mm = #{mm}
        WHERE yhid = #{yhid}
    </update>
</mapper>