<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>首页-小小马驹科技</title>
<%include("/include/include.html",{}) {}%>
</head>

<body>

<!-- 顶部、导航条 -->
<%include("/include/top.html",{}) {}%>

<!-- 滚动显示图片-->
<%include("/include/banner.html",{}) {}%>

<!-- 中部  -->
<%include("/include/center.html",{}) {}%>

<!-- 底部  -->
<%include("/include/foot.html",{}) {}%>
<%include("/include/buttom.html",{}) {}%>

</body>
</html>