<% var v = session.version!"201510271";%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
    <title>信息管理系统-首页</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- 浏览器选项卡图标 -->
    <link rel="shortcut icon" href="/images/main/favicon.png" />

    <style type="text/css" media="all">
    /* @import url(../css/index/index.css); */
        img {behavior:url('/js/index/iepngfix.htc') !important;}
    </style>

    <link rel="stylesheet" type="text/css" href="/css/index.css" />

    <script src="/js/index/jquery.js" type="text/javascript"></script>
    <script src="/js/index/jquery_ui.js" type="text/javascript"></script>
    <script src="/js/index/wysiwyg.js" type="text/javascript"></script>
    <script src="/js/index/functions.js" type="text/javascript"></script>
    <script src="/js/index/index.js" type="text/javascript"></script>

    <!-- 文件上传  -->
    <script src="/js/fileupload/myuploadfile.js" type="text/javascript"></script>
</head>
<body onload="">
    <%include("/common/top.html"){} %>
<!-- START 主体DIV -->
<div id="container">
    <%include("/common/left.html"){} %>
    <!--START 右模块  -->
    <div id="main" style="">
        <!-- [START 模式显示区] -->
        <iframe name="mainFrame" id="mainFrame" frameborder="0"
                src="${mainFrame!}" style="margin:0 auto; height:600px; margin-top:42px;"></iframe>
        <!-- [END 模式显示区] -->
    </div>
    <!--END 右模块  -->

    <!--START 底部  -->
    <%include("/common/footer.html"){} %>
    <!--END 底部  -->

</div>
<!-- END 主体DIV -->
    <script type="text/javascript">
      function cmainFrame(){
            var hmain = document.getElementById("mainFrame");
            var bheight = window.document.body.offsetHeight;
            hmain .style.width = '100%';
            hmain .style.height = (bheight  - 150) + 'px';
            
        }
        cmainFrame();
      </script>
</body>
</html>