<!-- 中部 -START -->
<div class="content">  
  <div class="news">
    <div class="news_con">
            <div class="news_left">
                <ul>
                    <li class="clearfix">
                        <div class="news_left_title">
                            <span></span>关于公司
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="txt">
                            <div class="txt_con">
                                <p>
                                    <a href="#">1.公司简介</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="txt">
                            <div class="txt_con">
                                <p>
                                    <a href="#">2.公司售后</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="txt">
                            <div class="txt_con">
                                <p>
                                    <a href="#">3.联系我们</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="news_center">
        <div class="news_center_title"><span><a href="#">更多</a></span>新闻资讯</div>
        <ul>
            <li><em>08-28</em><a href="#">1、6站巡展完美收官  5年耕耘精彩绽放</a></li>
            <li><em>08-25</em><a href="#">2、相约成都 畅享可视化医疗</a></li>
            <li><em>08-23</em><a href="#">3、鹏城专家齐聚锐取—共同助力国家构建</a></li>
            <li><em>08-23</em><a href="#">4、锐取互动医疗入羊城—可视化医疗粤精</a></li>
            <li><em>08-17</em><a href="#">5、相约羊城 畅享可视化医疗</a></li>
            <li><em>08-17</em><a href="#">6、2015年住院医师规范化培训高峰论坛</a></li>
            <li><em>08-07</em><a href="#">7、锐取＂沪＂动远程医疗 专家热议智慧医</a></li>
            <li><em>08-06</em><a href="#">8、锐取远程医疗风暴袭杭城 权威行业专家</a></li>
            <li><em>08-05</em><a href="#">9、相约沪城，畅享可视化医疗</a></li> 
        </ul>
      </div>

      <!--循环显示图片2-START-->
      <div class="news_right1">
        <div class="banner02">
            <div class="mBan202">
                <div id="slideBox02" class="slideBox02">
                    <div class="hd">
                        <ul>
                            <li class=""></li>
                            <li class=""></li>
                            <li class=""></li>
                            <li class="on"></li>
                            <li></li>
                        </ul>
                    </div>
            <div class="bd" style="height: 180px;">
                <ul class="bd_ul">
                    <li class="bd_li">
                        <a href="#" target="_blank">
                            <img src="/images/index/banner2-01.png" class="bd_img">
                        </a>
                    </li>
                    <li class="bd_li">
                        <a href="#" target="_blank">
                            <img src="/images/index/banner2-02.jpg" class="bd_img">
                        </a>
                    </li>
                    <li class="bd_li">
                        <a href="#" target="_blank">
                            <img src="/images/index/banner2-03.png" class="bd_img">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--循环显示图片2的jQuery调用-->
    <script type="text/javascript">
        jQuery(".slideBox02").slide({
            mainCell : ".bd ul",
            effect : "fold",
            autoPlay : true,
            trigger : "click"
        });
    </script> 
    </div>
    </div>
    <!--循环显示图片2-END-->
 
     <!--[教育新闻]部分-->
        <div class="news_right2">
        <div class="news_right2_title"><span><a href="#">更多</a></span>教育新闻</div>
        <ul>
            <li><em>08-28</em><a href="#">1、6站巡展完美收官  5年耕耘精彩绽放</a></li>
            <li><em>08-25</em><a href="#">2、相约成都 畅享可视化医疗</a></li>
            <li><em>08-23</em><a href="#">3、鹏城专家齐聚锐取—共同助力国家构建</a></li>
            <li><em>08-23</em><a href="#">4、锐取互动医疗入羊城—可视化医疗粤精</a></li>
        </ul>
     </div>
    </div>
  </div>
</div>
<!-- 中部-END  -->