<!--顶部-->
<div class="head">
    <div class="logo">
        <a href="#"><img src="/images/main/logo.jpg"></a>
    </div>
    <div class="logo_txt"></div>
    <div class="tel">
        <p>
            <a href="#" target="_blank"> <span>中文</span>
            </a>/ <a href="#" target="_blank"> <span>English</span>
            </a>
        </p>
    </div>
</div>
<!--[导航条]-START-->
<div class="nav">
    <ul>
        <li class="thisclass">
            <span>
                <a href="#"><span>首页</span></a>
            </span>
            <dl></dl>
        <li class="">
            <span>
                <a href="newscenter.html"><span>新闻中心</span></a>
            </span>
            <dl>
                <dd>
                    <a href="#">行业资讯</a>
                </dd>
                <dd>
                    <a href="#">公司新闻</a>
                </dd>
                <dd>
                    <a href="#">教育新闻</a>
                </dd>
            </dl>
        </li>
        <li class="">
            <span>
                <a href="product.html"><span>产品介绍</span></a>
            </span>
            <dl>
                <dd>
                    <a href="#">锐取</a>
                </dd>
                <dd>
                    <a href="#">大娱号</a>
                </dd>
            </dl>
        </li>
        <li class="">
            <span>
                <a href="successproduct.html"><span>成功案例</span></a>
            </span>
            <dl>
                <dd>
                    <a href="#">教育</a>
                </dd>
                <dd>
                    <a href="#">工程</a>
                </dd>
            </dl>
        </li>
        <li class="">
            <span>
                <a href="gongsizizhi.html"><span>公司资质</span></a>
            </span>
            <dl>
                <dd>
                    <a href="#">锐取</a>
                </dd>
                <dd>
                    <a href="#">大娱号</a>
                </dd>
            </dl>
        </li>
        <li class="">
            <span>
                <a href="zhaopin.html"><span>招贤纳士</span></a>
            </span>
            <dl>
                <dd></dd>
            </dl>
        </li>
        <li class="">
            <span>
                <a href="aboutus.html"><span>关于我们</span></a>
            </span>
            <dl>
                <dd>
                    <a href="#">联系方式</a>
                </dd>
                <dd>
                    <a href="#">企业文化</a>
                </dd>
                <dd>
                    <a href="#">公司简介</a>
                </dd>
            </dl>
        </li>
    </ul>
</div>
<!-- [导航条]-END -->